*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}
