---
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"div">, "class"> {
  class?: string;
}

const { class: className, ...attributes } = Astro.props;
---

<div {...attributes} class:list={["content-row-list", className]}>
  <slot />
</div>

<style>
  .content-row-list {
    display: grid;
    gap: 0;
    margin-inline: -.9rem;
    border-top: 1px solid var(--line);
  }
</style>
